@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --chart-1: hsl(271, 91%, 65%);
    --chart-2: hsl(245, 58%, 51%);
    --chart-3: hsl(199, 89%, 48%);
    --chart-4: hsl(167, 65%, 66%);
    --chart-5: hsl(141, 76%, 36%);
    --chart-6: hsl(95, 38%, 62%);
    --chart-7: hsl(55, 92%, 58%);
    --chart-8: hsl(30, 100%, 55%);
    --chart-9: hsl(0, 100%, 55%);
    --chart-10: hsl(320, 100%, 55%);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: hsl(271, 91%, 65%);
    --chart-2: hsl(245, 58%, 51%);
    --chart-3: hsl(199, 89%, 48%);
    --chart-4: hsl(167, 65%, 66%);
    --chart-5: hsl(141, 76%, 36%);
    --chart-6: hsl(95, 38%, 62%);
    --chart-7: hsl(55, 92%, 58%);
    --chart-8: hsl(30, 100%, 55%);
    --chart-9: hsl(0, 100%, 55%);
    --chart-10: hsl(320, 100%, 55%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground m-0 p-0;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #__next,
  main {
    min-height: 100%;
  }
}
